/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*
Content:
01. Root settings
02. Body
03. Navbar
04. Welcome Form
05. Hero
06. Activity Cards
07. Cities
08. Chart
09. Footer
*/

/* 01. Root Settings */
* {
  font-family: 'Courier New';
  --mauvelous: #f29ca3ff;
  --canary: #fff689ff;
  --middle-blue-green: #84dccfff;
  --french-pink: #fa619c;
  --baby-pink: #f7cacdff;
  --tangerine: #f18805ff;
  --middle-yellow: #f9e900ff;
  --white: #fff;
  --black: #000;
  --almost-black: #1b1b1b;
}

/* 02. Body */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Permanent Marker';
  font-weight: normal;
}

h2 {
  font-size: 3rem !important;
  text-align: center;
  color: var(--black);
}

/* 04. Navbar */
.navbar {
  background-color: var(--french-pink) !important;
}

.navbar-brand {
  font-family: 'Permanent Marker';
  font-weight: normal;
}

/* 04. Welcome Form */
.welcome {
  padding: 2vh 4vw;
  background-color: var(--middle-yellow);
}

.welcome-div {
  background-color: var(--middle-blue-green);
}

#welcome-form {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  align-items: center;
}

.welcome-form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
  justify-content: space-around;
  align-items: flex-start;
  height: 70px;
}
.welcome-form-group > div {
  display: flex;
  gap: 2vw;
}

/* 05. Hero */
.hero-image {
  background-image: url(images/color-gcb9e09278_1280.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--black);
  text-shadow: -1.5px -1.5px 0 var(--canary), 1.5px -1.5px 0 var(--canary),
    -1.5px 1.5px 0 var(--canary), 1.5px 1.5px 0 var(--canary);
  padding: 2vh;
}

.hero-text h1 {
  font-size: 3rem;
}

.guidediv {
  padding: 6vh;
}

.guide-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
  color: var(--black);
  text-decoration: none !important;
  text-shadow: none;
}

.guide-btns > a:hover {
  background-color: var(--canary);
  border: none;
}

/* 06. Activity Cards */
#activity-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--tangerine);
}

#activity-div {
  padding: 2vh 4vw;
}

#activity-header {
  font-size: 3rem;
  text-align: center;
  color: var(--black);
  padding-bottom: 2vh;
}

#activity-cards-div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: var(--baby-pink);
  /* height: 100%; */
  margin: 1vh;
  padding: 2vh;
}
.col {
  display: flex;
  justify-content: center;
  height: 100%;
}

.card {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  background-color: var(--canary) !important;
  border: none !important;
}

.activity-text {
  margin-bottom: 0;
}

.card-body {
  background-color: var(--middle-blue-green);
  /* flex-grow: 1 !important; */
}

.card-img-top {
  background-color: var(--french-pink);
  object-fit: contain;
  height: 136px;
  width: auto;
}

.list-group-item {
  background: var(--middle-blue-green) !important;
}

#act-final-p {
  padding-top: 2vh;
  margin: auto;
  text-align: center;
}

/* 07. Cities */
#cities {
  padding: 2vh 4vw;
  background-color: var(--canary);
}

#cities > div {
  display: flex;
  gap: 4vw;
}

/* Cities table */
.existingCities {
  width: 100%;
}

.nbrRow,
.btnRow {
  text-align: center;
}

.nameRow {
  text-align: left;
}

.popRow {
  text-align: right;
}

/* Cities form */

#citiesDiv {
  background-color: var(--tangerine);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

#citiesForm {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.form-group {
  padding-top: 1.5vh;
}

#updateBtnDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#updateBtn {
  margin: 2vh;
  margin-bottom: 0;
  width: 110px;
}

.citiesBtns {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.btnCities {
  margin: 3vh;
  margin-top: 2vh;
  width: 110px;
}

/* 08. Chart */
#chart-section {
  background-color: var(--middle-blue-green);
  display: flex;
  flex-direction: column;
}

#chart-div {
  padding: 2vh 4vw;
  height: 60vh;
}

.chart {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#my-chart {
  height: 100%;
}

#source {
  display: flex;
  font-size: 0.9rem;
  padding: 0;
  padding: 2vh 6vh 0;
}

/* 09. Footer */
footer {
  background-image: url(images/color-ge6f826f84_1280a.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.socialMedia {
  text-shadow: -1.5px -1.5px 0 var(--canary), 1.5px -1.5px 0 var(--canary),
    -1.5px 1.5px 0 var(--canary), 1.5px 1.5px 0 var(--canary);
  height: 11vh;
}

.copyright {
  background-color: var(--french-pink);
}

.copyright > a {
  text-decoration: none;
}

/* Validated 2022-11-15 // KP */
